.hero {
  width: 100%;
  min-height: 100vh;
  background: url('../../assets/TTA_Home1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem; /* horizontal padding for smaller screens */
  text-align: center; /* helpful for centered text */
}


.hero-text {
  text-align: center;
  max-width: 800px;
  background-color: rgba(176, 194, 175, 0.5); /* semi-transparent dark background */
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}


.hero-text h1{
    font-size: 60px;
    font-weight: 600;
}
.hero-text h3{
    font-size: 40px;
    font-weight: 400;
}
.hero-text p{
  max-width: 700px;
  margin: 10px auto 20px;
  line-height: 1.4;
}
/* Button Styling */
.home-badge {
  margin: 40px auto 0 auto;
  padding: 14px 0;
  width: 250px; /* set your desired length */
  text-align: center;
  font-size: 15px;
  display: block;

  background: #007d87;
  border-radius: 2rem;
}


.hero-text h2{
    position: absolute;
    color: #ffffff3e;
    bottom: 20px; /* distance from bottom */
    left: 100%;
    white-space: nowrap;
    font-size: 3.5rem;
    animation: moveLeft 30s linear infinite;
    text-transform: uppercase;

  }

  @keyframes moveLeft {
    0% {
      left: 100%;
    }
    100% {
      left: -100%;
    }
  }

  /* Tablet (768px and below) */
@media (max-width: 768px) {
  .hero {
    min-height: 80vh;
    padding: 0 1.5rem;
    background-position: center top;
  }
}

/* Mobile (480px and below) */
@media (max-width: 480px) {
  .hero {
    min-height: 70vh;
    padding: 0 1rem;
    flex-direction: column;
    background-position: center top;
  }
}

  @media (max-width: 850px){
    .hero-text h1{
      font-size: 40px;
    }
  }

  @media (max-width: 650px){
    .hero-text h1{
      font-size: 30px;
      max-width: 400px;
      margin: auto;
      .hero-text p{
        font-size: 14px;
        margin: 15px auto 30px;
      }
    }
  }