nav {
  width: 100%;
  background: rgba(0, 125, 135, 0.25); /* base color with transparency */
  color: #f5f0f0;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: background 0.3s ease;
}

/* Add flex container for desktop navigation */
nav .desktop-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav .desktop-nav li {
  margin: 0 15px;
}

/* Nav item link styles */
nav ul li a {
  padding: 8px 16px;
  border-radius: 20px;
  transition: background 0.3s;
  display: inline-block;
}

/* Active link button style */
nav ul li a.active-link {
  background: #007d87;
  color: #fff;
}

/* Hover effect */
nav ul li a:hover {
  background: rgba(3, 119, 128, 0.5)
;
}

.logo {
  width: 200px;
}

.menu-icon {
  display: none;
  width: 30px;
  cursor: pointer;
}

/* Mobile menu styles */
.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 125, 135, 0.25); /* base color with transparency */
  z-index: 999;
  width: 200px;
  padding-top: 70px;
  transition: right 0.5s;
}

.mobile-nav li {
  display: block;
  margin: 25px 40px;
}

.hide-mobile-menu {
  right: -200px;
}

/* Media queries */
@media(max-width: 1000px) {
  .logo {
    width: 140px;
  }
  nav .desktop-nav li {
    margin: 0 10px;
  }
}

@media(max-width: 840px) {
  nav {
    padding: 15px 0;
    background: transparent !important;
  }
  
  .desktop-nav {
    display: none !important;
  }
  
  .menu-icon {
    display: block;
  }
  
  .mobile-nav {
    display: block;
  }
}